body{
  background-color:#021E40;
  text-align:center;
}

h1{
  color:#000000;
  background-color:#1373E7;
  padding:15px;
}

h4{
  color:#000000;
  background-color:#1373E7;
}

label{
  color:#000000;
}